services:
  mcp:
    build:
      context: .
      dockerfile: docker/mcp.Dockerfile
      args:
        ENV: ${ENV:-dev}       # Default environment
        EXTRA: ${EXTRA:-cpu}   # Default extra (cpu, cu124, rocm)
    container_name: ragprod_mcp
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - ragprod_network
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia      # Use `nvidia` for CUDA GPUs (optional for ROCm)
              capabilities: [gpu]

  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
      args:
        ENV: ${ENV:-dev}       # Default environment
        EXTRA: ${EXTRA:-cpu}   # Default extra (cpu, cu124, rocm)
    container_name: ragprod_api
    volumes:
      - .:/app
    ports:
      - "8001:8001"
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - ragprod_network
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia      # Use `nvidia` for CUDA GPUs (optional for ROCm)
              capabilities: [gpu]

  db:
    build:
      context: .
      dockerfile: docker/db.Dockerfile
      args:
        ENV: ${ENV:-dev}       # Default environment
        EXTRA: ${EXTRA:-cpu}   # Default extra (cpu, cu124, rocm)
    container_name: ragprod_db
    volumes:
      - .:/app
#  docker-compose build --build-arg ENV=prod --build-arg EXTRA=rocm