LANGFUSE_PUBLIC_KEY=...
LANGFUSE_SECRET_KEY=...
LANGFUSE_HOST=https://cloud.langfuse.com
LANGFUSE_TIMEOUT=500
LANGFUSE_TAGS=[]
LANGFUSE_VERSION=0.0.1
LANGFUSE_RELEASE=development
LANGFUSE_ENVIRONMENT=development